div{
    background-color: #f3f3f3;
    margin-right: 200px;
    padding: 30px;
}
td{
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}
.title {
    background-color: skyblue;

}
.title1{
    background-color: skyblue;
}
.title2{
    background-color: lightgrey;
}
table{
        border-collapse: collapse;
}